extends layout

block content
	.row
		.col-xs-12
			h2.text-center= poll.name
				br
				small= "A poll by " + poll.user.name
	.row
		if (poll.vote.id)
			.col-xs-12
				canvas.poll-chart(data-id=poll.id)
				h3.text-center You voted for 
					span.text-muted= poll.vote.term
		else
			.col-md-4.col-xs-12
				include voteform
			.col-md-8.col-xs-12
				canvas.poll-chart(data-id=poll.id)

		
		.col-xs-12.text-center
			small
				| Share poll: 
				a.self-link fcc.thing/self/1
